@tailwind base;
@tailwind components;
@tailwind utilities;
 


.custom-bgimg {
    background-image: url("../../public/bghero.jpg")
}

.mydiscount {
    transform: rotate(-90deg) translate(0, -69px);
    transform-origin: 100% 0
}